/*공통-타이틀*/

.table_text{font-size:12px; color:#042e47;text-align:left;}
.small_text{font-size:12px; color:#042e47;}
.emp{color:#e66900; font-weight:bold;}


.main{width:100%}
/*************내용**************/ 
.davao{max-width:1200px; margin:0 auto; padding:40px 0;}
.davao_cont{overflow:hidden}
.davao_cont>img{width:100%}
.davao_cont_list{width:100%; overflow:hidden; padding:20px 0;}
.davao_cont_list>li:first-child{width:20%; float:left;}
.davao_cont_list>li:last-child{width:77%; margin-left:3%; float:left; max-height:230px}
.davao_cont_list>li img{width:100%}

.davao_trip_list{width:100%; overflow:hidden;}
.davao_trip_list>li{width:33.3333%;  height:auto; float:left; margin-bottom:15px}
.davao_trip_list>li>p:last-child{width:90%; margin:0 auto}
.davao_trip_list>li:nth-child(2){letter-spacing:-2px}
.davao_trip_list>li>img{width:100%}
.thin{letter-spacing:-1px; font-size:15px;}
#title_center{text-align:center}

.davao_trip_list2{width:100%; overflow:hidden;}
.davao_trip_list2>li{width:33.3333%;  height:auto; float:left; margin-bottom:15px}
.davao_trip_list2>li>p:last-child{width:90%; margin:0 auto}
.davao_trip_list2>li:nth-child(2){letter-spacing:-2px}
.davao_trip_list2>li>img{width:100%}

.lan_list{width:100%; overflow:hidden}
.lan_list img{width:100%}
.lan_list>li:first-child{width:30%; float:left;}
.lan_list>li:last-child{width:67%; margin-left:3%; float:left;}

.sys_pic{width:100%; overflow:hidden}
.sys_pic>li{width:25%; float:left; text-align:center}
.sys_pic>li>img{width:95%; padding-right:10px}
.sys_pic>li>img:last-child{padding-right:0px}

.guide_btn{width:100%; padding:15px 0; background:#042e47; margin:0px auto; margin-top:30px; cursor:pointer; text-align:center; font-size:14px; font-weight:bold; color:white;}


.cont_list{width:100%; background:#ebe4cf; padding:12px 0;}


