@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{padding:0; margin:0;}
body{margin:0 auto; font-family: "Nanum Gothic", sans-serif;}
a{text-decoration:none;}
img{border:0;}
ul{list-style:none;}
body *:not(.scroll_image>img){transition-property:all; transition-duration:1s;
font-size:18px; color:#042e47}



.main{width:100%}

/*************내용**************/ 
.introduce_cont{max-width:1200px; margin:0 auto; padding:60px 0;}
.introduce{}
.introduce>ul{width:100%; overflow:hidden}
.introduce>ul>li{float:left; padding-bottom:40px;}
.introduce>ul>li>a{ width:100%; display:block;}
.introduce>ul>li:first-child{width:33%}
.introduce>ul>li:first-child>a>img{width:90%;}
.introduce>ul>li:last-child{width:67%}

.introduce_table{width:100%}
.introduce_table>ul{overflow:hidden;}
.introduce_table>ul>li{width:25%; float:left;}
.high{padding:16px 0!important;}


