.pf_cont{width:100%; max-width:1200px; margin:60px auto}

.pf_cont>img{width:100%; }

.pt_table{margin:15px 0}
.pt_table_tit{width:100%; overflow:hidden; background:#dfe7eb; color:#042e47; text-align:center; padding:7px 0; font-size:14px; font-weight:bold}
.pt_table_tit>li{width:33.333%; float:left}
.pt_cont{width:100%; overflow:hidden; text-align:center; color:#042e47;}
.pt_cont>li{width:33.333%; float:left;padding:8px 0; border-bottom:1px solid #dfe7eb; font-size:14px; color:#042e47}

.pt_img1{width:100%; margin:20px 0; text-align:center}
.pt_img1>img{width:70%; margin:0 auto}

.pt_img2{width:100%; margin:10px 0;}
.pt_img2>img{width:100%}

.pt_table_tit2{width:100%; overflow:hidden; background:#dfe7eb; color:#042e47; text-align:center; padding:7px 0; font-size:12px; font-weight:bold}
.pt_table_tit2>li{width:16.66666%; float:left}
.pt_cont2{width:100%; overflow:hidden; text-align:center; color:#042e47;}
.pt_cont2>li{width:16.6666%; float:left;padding:8px 0; border-bottom:1px solid #dfe7eb; font-size:12px; color:#042e47}

.pt_cont3{width:100%; overflow:hidden; text-align:center; color:#042e47;}
.pt_cont3>li{width:16.66%;float:left;padding:8px 0; border-bottom:1px solid #dfe7eb; font-size:12px; color:#042e47}
.pt_cont3>li:first-child{width:66.6666%;}
.table_bold{font-weight:bold}
.high{padding:16px 0!important;}


.pt_table_tit4{width:100%; overflow:hidden; background:#dfe7eb; color:#042e47; text-align:center; padding:7px 0; font-size:12px; font-weight:bold}
.pt_table_tit4>li{width:25%; float:left}
.pt_cont4{width:100%; overflow:hidden; text-align:center; color:#042e47;}
.pt_cont4>li{width:25%;float:left;padding:8px 0; border-bottom:1px solid #dfe7eb; font-size:12px; color:#042e47}
.high3{padding:15px 0!important}